<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB_69755_aspclassConnectionString" connectionString="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_69755_aspclass;Integrated Security=False;User ID=DB_69755_aspclass_user;Password=kini7deal"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=tcp:s10.winhost.com;Persist Security Info=True;User ID=DB_69755_aspclass_user;Password=kini7deal"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <pages theme="Theme">
      <controls>
        <add tagPrefix="AJAX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <!--using the membership provider to enable user management-->
    <membership defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DB_69755_aspclassConnectionString" applicationName="/httpproject"/>
      </providers>
    </membership>
    <!--using the role manager to enable role management-->
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DB_69755_aspclassConnectionString" applicationName="/httpproject"/>
      </providers>
    </roleManager>
    <siteMap defaultProvider="publicSite">
      <providers>
        <add name="publicSite" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap"/>
        <add name="adminSite" type="System.Web.XmlSiteMapProvider" siteMapFile="~/administrative/Admin.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
  <system.web>
    <trust level="Full"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="postmaster@tundeobatayo.name">
        <network host="mail.tundeobatayo.name" userName="postmaster@tundeobatayo.name" password="Kini77deal!!"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="patients/book_appointment.aspx">
    <system.web>
      <authorization>
        <allow roles="Registered User"/>
        <deny users="*"/>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="visitors/forumInfos.aspx">
    <system.web>
      <authorization>
        <allow roles="Registered User"/>
        <deny users="*"/>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>