<?xml version="1.0"?>
<configuration>
  <location path="admin_login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="Site Administrator"/>
      <deny users="*"/>
      <deny users ="?"/>
    </authorization>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>

